.container{
    display: grid;
	grid-template-columns: 5% 0.5fr 0.2fr 5%;
	grid-template-rows: auto 0.5fr 2fr 5%;
	grid-template-areas:
		". breadcrumb breadcrumb ."
		". product-img main ."
		". description none .";
}

/*
@media screen and (min-width: 600px) {
	.container{
    display: grid;
	grid-template-columns: 5% 1fr 1fr 1fr 5%;
	grid-template-rows: auto 2fr auto 5%;
	grid-template-areas:
		". breadcrumb breadcrumb breadcrumb ."
		". product-img product-img main ."
		". description description main .";
	}
}
*/

.breadcrumb {
    grid-area: breadcrumb;
}

.product-img {
    grid-area: product-img;
}

.main{
    grid-area: main;
}

.description{
	grid-area: description;
}

.none{
	grid-area: none;
}